<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

      
    {{{body}}}


     <footer>
            <div class="footer">
                Desarrollado por 
                <a href="https://www.linkedin.com/in/pedroquiros/">Pedro Quirós</a>
                [Preentrega N°2 @Coderhouse]
            </div>
        </footer>
</body>
</html>
